.cssCircleElement2SVG {
  position: absolute;
  stroke: none;
  fill: currentColor;
  display: block;
  color: var(--theme-ui-colors-icon_darkest, #2d3748);
  width: 1.5rem;
  left: 75%;
  top: 0%;
}
