.cssSquareElement9SVG {
  position: absolute;
  stroke: none;
  fill: currentColor;
  display: block;
  color: var(--theme-ui-colors-icon_orange, #ed8936);
  width: 1.5rem;
  left: 10%;
  top: 10%;
}
