.cssProject {
  position: absolute;
  background-size: auto;
  background-repeat: no-repeat;
  will-change: transform;
  width: 100%;
  height: 1676px;
  transform: translate3d(0px, 754.2px, 0px);
}

.ctnPart2SVG {
  position: absolute;
  width: 100%;
  height: 50%;
  background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
  background-color: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
  -webkit-clip-path: polygon(0 15%, 100% 25%, 100% 85%, 0 75%);
  clip-path: polygon(0 15%, 100% 25%, 100% 85%, 0 75%);
}

.cssZbbnttDivider {
  position: absolute;
  background-size: auto;
  background-repeat: no-repeat;
  will-change: transform;
  width: 100%;
  height: 1676px;
  transform: translate3d(0px, 921.8px, 0px);
}
