// .cssCrossElement1SVG {
//   position: absolute;
//   stroke: currentColor;
//   fill: none;
//   display: block;
//   color: var(--theme-ui-colors-icon_pink, #ed64a6);
//   width: 4rem;
//   left: 28%;
//   top: 15%;
// }

.cssCrossElement1SVG {
  position: absolute;
  stroke: currentColor;
  fill: none;
  display: block;
  color: var(--theme-ui-colors-icon_pink, #cbd5e0);
  width: 3rem;
  left: 28%;
  top: 8%;
}
