.cssContactContent {
  position: absolute;
  background-size: auto;
  background-repeat: no-repeat;
  will-change: transform;
  width: 100%;
  height: 838px;
  transform: translate3d(0px, 3352px, 0px);
  padding: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 50;
  @media screen and (min-width: 400px) {
    padding: 2rem;
  }
  @media screen and (min-width: 600px) {
    padding: 2rem;
  }
  @media screen and (min-width: 900px) {
    padding: 4rem;
  }
}

.cssContentCtn {
  width: 100%;
  text-align: left;
  @media screen and (min-width: 400px) {
    width: 100%;
  }
  @media screen and (min-width: 600px) {
    width: 100%;
  }
  @media screen and (min-width: 900px) {
    width: 100%;
  }
}

.cssContentTitle {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.25;
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.875rem;
  margin-top: 0.5rem;
  color: var(--theme-ui-colors-heading, #000);
  @media screen and (min-width: 400px) {
    font-size: 2.25rem;
  }
  @media screen and (min-width: 600px) {
    font-size: 3rem;
  }
}

.cssP {
  font-size: 1rem;
  -webkit-letter-spacing: -0.003em;
  -moz-letter-spacing: -0.003em;
  -ms-letter-spacing: -0.003em;
  letter-spacing: -0.003em;
  line-height: 1.625;
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  color: var(--theme-ui-colors-text, #2d3748);
  @media screen and (min-width: 400px) {
    font-size: 1.25rem;
  }
}

.linkContact {
  color: var(--theme-ui-colors-primary, #c05621);
  -webkit-text-decoration: none;
  text-decoration: none;
}
