.cssZbbnttDivider {
  position: absolute;
  background-size: auto;
  background-repeat: no-repeat;
  will-change: transform;
  width: 100%;
  height: 838px;
  transform: translate3d(0px, 3352px, 0px);
}
