.cssDoubleTriangle2SVG {
  position: absolute;
  stroke: none;
  fill: currentColor;
  display: block;
  color: var(--theme-ui-colors-icon_green, #48bb78);
  width: 4rem;
  left: 20%;
  top: 90%;
  @media screen and (min-width: 400px) {
    display: none;
  }
  @media screen and (min-width: 600px) {
    display: block;
  }
}
