// .cssCircleElement5SVG {
//   position: absolute;
//   stroke: none;
//   fill: currentColor;
//   display: block;
//   color: var(--theme-ui-colors-icon_darkest, #718096);
//   width: 3rem;
//   left: 50%;
//   top: 60%;
// }

.cssCircleElement5SVG {
  position: absolute;
  stroke: none;
  fill: currentColor;
  display: block;
  color: var(--theme-ui-colors-icon_darkest, #718096);
  width: 3rem;
  left: 50%;
  top: 65%;
}
