.cssTriangleElement7SVG {
  position: absolute;
  stroke: currentColor;
  fill: none;
  display: none;
  color: #333;
  width: 4rem;
  left: 18%;
  top: 75%;

  @media screen and (min-width: 400px) {
    display: none;
  }
  @media screen and (min-width: 600px) {
    display: block;
  }
}
