.cssContent {
  padding: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 50;
  @media screen and (min-width: 400px) {
    padding: 2rem;
  }
  @media screen and (min-width: 600px) {
    padding: 2rem;
  }
  @media screen and (min-width: 900px) {
    padding: 4rem;
  }
}

.cssCtnContent {
  position: absolute;
  background-size: auto;
  background-repeat: no-repeat;
  will-change: transform;
  width: 100%;
  height: 1676px;
  transform: translate3d(0px, 900px, 0px);
}

.cssw100 {
  width: 100%;
  text-align: left;
  @media screen and (min-width: 400px) {
    width: 100%;
  }
  @media screen and (min-width: 600px) {
    width: 100%;
  }
  @media screen and (min-width: 900px) {
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
  }
}

.cssGridProjects {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  @media screen and (min-width: 400px) {
    grid-gap: 2rem;
    grid-template-columns: 1fr;
  }
  @media screen and (min-width: 600px) {
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: 900px) {
    grid-gap: 4rem;
  }
}

.cssSectionTitle {
  grid-column: -1/1;
  color: white !important;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.25;
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.875rem;
  margin-top: 0.5rem;
  color: var(--theme-ui-colors-heading, #000);
  @media screen and (min-width: 400px) {
    font-size: 2.25rem;
  }
  @media screen and (min-width: 600px) {
    font-size: 3rem;
  }
}

.css1amuae2ProjectCard {
  width: 100%;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  position: relative;
  -webkit-text-decoration: none;
  text-decoration: none;
  border-radius: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--theme-ui-colors-white, #fff);
  background: linear-gradient(to right, #f7971e 0%, #ffd200 100%);
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  @media screen and (min-width: 400px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.csscnityrProjectCard {
  opacity: 0.85;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.cssxr4zslProjectCard {
  text-transform: uppercase;
  -webkit-letter-spacing: 0.025em;
  -moz-letter-spacing: 0.025em;
  -ms-letter-spacing: 0.025em;
  letter-spacing: 0.025em;
  padding-top: 2rem;
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 1;
  @media screen and (min-width: 400px) {
    font-size: 2.25rem;
  }
}

.css1uk8tleProjectCard {
  width: 100%;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  position: relative;
  -webkit-text-decoration: none;
  text-decoration: none;
  border-radius: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--theme-ui-colors-white, #fff);
  background: linear-gradient(to right, #1e130c 0%, #9a8478 100%);
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  @media screen and (min-width: 400px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.cssu75v5ProjectCard {
  width: 100%;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  position: relative;
  -webkit-text-decoration: none;
  text-decoration: none;
  border-radius: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--theme-ui-colors-white, #fff);
  background: linear-gradient(to right, #e52d27 0%, #b31217 100%);
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  @media screen and (min-width: 400px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.css143qgnProjectCard {
  width: 100%;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  position: relative;
  -webkit-text-decoration: none;
  text-decoration: none;
  border-radius: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--theme-ui-colors-white, #fff);
  background: linear-gradient(to right, #021b79 0%, #0575e6 100%);
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  @media screen and (min-width: 400px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
