.cssTriangleElement6SVG {
  position: absolute;
  stroke: currentColor;
  fill: none;
  display: block;
  color: var(--theme-ui-colors-icon_brightest, #edf2f7);
  width: 3rem;
  left: 90%;
  top: 30%;
}
