.cssProject {
  position: absolute;
  width: 100%;
  height: 100%;
  background: divider;
  background-color: var(--theme-ui-colors-divider, #edf2f7);
  -webkit-clip-path: polygon(0 16%, 100% 4%, 100% 82%, 0 94%);
  clip-path: polygon(0 16%, 100% 4%, 100% 82%, 0 94%);
}

.ctnPart3SVG {
  position: absolute;
  background-size: auto;
  background-repeat: no-repeat;
  will-change: transform;
  width: 100%;
  height: 838px;
  transform: translate3d(0px, 2650px, 0px);
}

.cssZbbnttDivider {
  position: absolute;
  background-size: auto;
  background-repeat: no-repeat;
  will-change: transform;
  width: 100%;
  height: 838px;
  transform: translate3d(0px, 2765.4px, 0px);
}
