.ctnHighlights {
  position: absolute;
  background-size: auto;
  background-repeat: no-repeat;
  will-change: transform;
  width: 100%;
  height: 775px;
  transform: translate3d(0px, 0px, 0px);
}

.ctnTitle {
  width: 100%;
  text-align: center; //Tochange
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 400px) {
    width: 100%;
  }
  @media screen and (min-width: 600px) {
    width: 100%;
  }
  @media screen and (min-width: 900px) {
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
  }
}

.myTitle {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.25;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 3rem;
  margin-top: 0.5rem;
  text-shadow: rgba(255, 255, 255, 0.15) 0px 5px 35px;
  -webkit-letter-spacing: 0.025em;
  -moz-letter-spacing: 0.025em;
  -ms-letter-spacing: 0.025em;
  letter-spacing: 0.025em;
  color: var(--theme-ui-colors-heading, #000);
  @media screen and (min-width: 400px) {
    font-size: 4rem;
  }
  @media screen and (min-width: 600px) {
    font-size: 4.5rem;
  }
}

.myDescription {
  font-size: 1rem;
  -webkit-letter-spacing: -0.003em;
  -moz-letter-spacing: -0.003em;
  -ms-letter-spacing: -0.003em;
  letter-spacing: -0.003em;
  line-height: 1.625;
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  color: var(--theme-ui-colors-text, #2d3748);
  @media screen and (min-width: 400px) {
    font-size: 1.5rem;
  }
  @media screen and (min-width: 600px) {
    font-size: 1.875rem;
  }
}

.pdWindow {
  padding: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 50;
  @media screen and (min-width: 400px) {
    padding: 2rem;
  }
  @media screen and (min-width: 600px) {
    padding: 2rem;
  }
  @media screen and (min-width: 900px) {
    padding: 4rem;
  }
}

.imgCtn {
  padding: 0.5rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 1052px) {
    display: none;
  }
}

.profileStyle {
  height: 250px;
  width: 250px;
  border-radius: 15px;
}
