.cssCircleElement7SVG {
  position: absolute;
  stroke: none;
  fill: currentColor;
  display: none;
  color: var(--theme-ui-colors-icon_brightest, #edf2f7);
  width: 6rem;
  left: 17%;
  top: 60%;

  @media screen and (min-width: 400px) {
    display: none;
  }
  @media screen and (min-width: 600px) {
    display: block;
  }
}
