.cssCircleElement10SVG {
  position: absolute;
  stroke: none;
  fill: currentColor;
  display: none;
  color: var(--theme-ui-colors-icon_brightest, #edf2f7);
  width: 1.5rem;
  left: 4%;
  top: 20%;

  @media screen and (min-width: 400px) {
    display: none;
  }

  @media screen and (min-width: 600px) {
    display: block;
  }
}
