// .cssCircleElement6SVG {
//   position: absolute;
//   stroke: none;
//   fill: currentColor;
//   display: block;
//   color: var(--theme-ui-colors-icon_green, #48bb78);
//   width: 16rem;
//   left: 95%;
//   top: 5%;
// }

.cssCircleElement6SVG {
  position: absolute;
  stroke: none;
  fill: currentColor;
  display: block;
  color: var(--theme-ui-colors-icon_green, #121426);
  width: 8rem;
  left: 95%;
  top: 5%;
}
