.cssSquareElement5SVG {
  position: absolute;
  stroke: none;
  fill: currentColor;
  display: block;
  color: var(--theme-ui-colors-icon_brightest, #edf2f7);
  width: 1.5rem;
  left: 85%;
  top: 75%;
}
