.ctn-main {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden scroll;
  transform: translate3d(0px, 0px, 0px);
}

.ctn-part-1 {
  position: absolute;
  width: 100%;
  transform: translate3d(0px, 0px, 0px);
  overflow: hidden;
  height: 4190px;
  background-color: #141821;
}

.svg-ctn-part-1 {
  position: absolute;
  background-size: auto;
  background-repeat: no-repeat;
  will-change: transform;
  width: 100%;
  height: 838px;
  transform: translate3d(0px, 0px, 0px);
}

/* CSS WEIRD CLASS */
.css-zbbntt-Divider {
  position: absolute;
  width: 100%;
  height: 100%;
}

.css-zbbntt-Divider #contact-wave {
  fill: currentColor;
}

/* svg part1 div top effect */
.css-q42gqc-UpDown-upDownAnimation {
  -webkit-animation: animation-f4uuii 4s ease-in-out infinite alternate;
  animation: animation-f4uuii 4s ease-in-out infinite alternate;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@-webkit-keyframes animation-f4uuii {
  from {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }
}

@keyframes animation-f4uuii {
  from {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }
}

/* Color svg */

.css-1l5zof9-SVG {
  position: absolute;
  stroke: currentColor;
  fill: none;
  display: block;
  color: var(--theme-ui-colors-icon_orange, #ed8936);
  width: 12rem;
  left: 10%;
  top: 0%;
}

.css-e3v4f3-SVG {
  position: absolute;
  stroke: currentColor;
  fill: none;
  display: block;
  color: var(--theme-ui-colors-icon_red, #e53e3e);
  width: 12rem;
  left: 60%;
  top: 0%;
}

.css-1ov6vuz-SVG {
  position: absolute;
  stroke: none;
  fill: currentColor;
  display: block;
  color: var(--theme-ui-colors-icon_darker, #4a5568);
  width: 1.5rem;
  left: 60%;
  top: 0%;
}

/*  */
/* Anim DVG part 1 top */
.css-1hsk6m9-UpDownWide-upDownWideAnimation {
  -webkit-animation: animation-1f7rnpf 18s ease-in-out infinite alternate;
  animation: animation-1f7rnpf 18s ease-in-out infinite alternate;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@-webkit-keyframes animation-1f7rnpf {
  from {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(200px);
    -ms-transform: translateY(200px);
    transform: translateY(200px);
  }
}

@keyframes animation-1f7rnpf {
  from {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(200px);
    -ms-transform: translateY(200px);
    transform: translateY(200px);
  }
}

/* Color SVG part 1 */
.css-lg1nd6-SVG {
  position: absolute;
  stroke: none;
  fill: currentColor;
  display: block;
  color: var(--theme-ui-colors-icon_blue, #3182ce);
  width: 4rem;
  left: 80%;
  top: 0%;
}

.css-k8zaxw-SVG {
  position: absolute;
  stroke: currentColor;
  fill: none;
  display: block;
  color: var(--theme-ui-colors-icon_brightest, #fff);
  width: 3rem;
  left: 90%;
  top: 0%;
}

.css-1jd6e1k-SVG {
  position: absolute;
  stroke: none;
  fill: currentColor;
  display: block;
  color: var(--theme-ui-colors-icon_darker, #4a5568);
  width: 4rem;
  left: 70%;
  top: 0%;
}

.css-1twtfa1-SVG {
  position: absolute;
  stroke: currentColor;
  fill: none;
  display: block;
  color: var(--theme-ui-colors-icon_darkest, #2d3748);
  width: 4rem;
  left: 30%;
  top: 0%;
}

.css-1vae1u5-SVG {
  position: absolute;
  stroke: currentColor;
  fill: none;
  display: block;
  color: var(--theme-ui-colors-icon_pink, #ed64a6);
  width: 4rem;
  left: 28%;
  top: 0%;
}

.css-8o6gnp-SVG {
  position: absolute;
  stroke: none;
  fill: currentColor;
  display: block;
  color: var(--theme-ui-colors-icon_darkest, #2d3748);
  width: 1.5rem;
  left: 75%;
  top: 0%;
}

.css-4y1k1v-SVG {
  position: absolute;
  stroke: none;
  fill: currentColor;
  display: block;
  color: var(--theme-ui-colors-icon_darkest, #2d3748);
  width: 2rem;
  left: 45%;
  top: 0%;
}

/* Static colors + size */
.css-1rqrcoz-SVG {
  position: absolute;
  stroke: none;
  fill: currentColor;
  display: none;
  color: var(--theme-ui-colors-icon_darker, #4a5568);
  width: 6rem;
  left: 5%;
  top: 0%;
}

.css-zn506t-SVG {
  position: absolute;
  stroke: none;
  fill: currentColor;
  display: block;
  color: var(--theme-ui-colors-icon_darkest, #2d3748);
  width: 1.5rem;
  left: 4%;
  top: 0%;
}

.css-jyibgf-SVG {
  position: absolute;
  stroke: none;
  fill: currentColor;
  display: block;
  color: var(--theme-ui-colors-icon_darkest, #2d3748);
  width: 3rem;
  left: 50%;
  top: 0%;
}

.css-1jc5w51-SVG {
  position: absolute;
  stroke: none;
  fill: currentColor;
  display: block;
  color: var(--theme-ui-colors-icon_darkest, #2d3748);
  width: 2rem;
  left: 95%;
  top: 0%;
}

.css-wfgihl-SVG {
  position: absolute;
  stroke: none;
  fill: currentColor;
  display: block;
  color: var(--theme-ui-colors-icon_darker, #4a5568);
  width: 6rem;
  left: 40%;
  top: 0%;
}

.css-1u47rbk-SVG {
  position: absolute;
  stroke: currentColor;
  fill: none;
  display: block;
  color: var(--theme-ui-colors-icon_darker, #4a5568);
  width: 2rem;
  left: 25%;
  top: 0%;
}

.css-1ah40zy-SVG {
  position: absolute;
  stroke: none;
  fill: currentColor;
  display: block;
  color: var(--theme-ui-colors-icon_green, #48bb78);
  width: 16rem;
  left: 95%;
  top: 0%;
}

.css-kh7ws0-SVG {
  position: absolute;
  stroke: none;
  fill: currentColor;
  display: block;
  color: var(--theme-ui-colors-icon_purple, #805ad5);
  width: 16rem;
  left: 5%;
  top: 0%;
}

.css-19fynh1-SVG {
  position: absolute;
  stroke: none;
  fill: currentColor;
  display: block;
  color: var(--theme-ui-colors-icon_darkest, #2d3748);
  width: 1.5rem;
  left: 10%;
  top: 0%;
}

.css-ztgfeg-SVG {
  position: absolute;
  stroke: none;
  fill: currentColor;
  display: block;
  color: var(--theme-ui-colors-icon_darkest, #2d3748);
  width: 3rem;
  left: 40%;
  top: 0%;
}

.css-1vae1u5-SVG {
  position: absolute;
  stroke: currentColor;
  fill: none;
  display: block;
  color: var(--theme-ui-colors-icon_pink, #ed64a6);
  width: 4rem;
  left: 28%;
  top: 0%;
}

.css-8o6gnp-SVG {
  position: absolute;
  stroke: none;
  fill: currentColor;
  display: block;
  color: var(--theme-ui-colors-icon_darkest, #2d3748);
  width: 1.5rem;
  left: 75%;
  top: 0%;
}

.css-4y1k1v-SVG {
  position: absolute;
  stroke: none;
  fill: currentColor;
  display: block;
  color: var(--theme-ui-colors-icon_darkest, #2d3748);
  width: 2rem;
  left: 45%;
  top: 0%;
}

.css-139zj92-SVG {
  position: absolute;
  stroke: currentColor;
  fill: none;
  display: block;
  color: var(--theme-ui-colors-icon_darker, #4a5568);
  width: 4rem;
  left: 10%;
  top: 0%;
}

.css-1ahfg5i-SVG {
  position: absolute;
  stroke: currentColor;
  fill: none;
  display: block;
  color: var(--theme-ui-colors-icon_darker, #4a5568);
  width: 2rem;
  left: 80%;
  top: 0%;
}
