.ctn-main {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden scroll;
  transform: translate3d(0px, 0px, 0px);
}

.ctn-part-1 {
  position: absolute;
  width: 100%;
  transform: translate3d(0px, 0px, 0px);
  overflow: hidden;
  height: 4190px;
  background-color: #141821;
}

.svg-ctn-part-1 {
  position: absolute;
  background-size: auto;
  background-repeat: no-repeat;
  will-change: transform;
  width: 100%;
  height: 838px;
  transform: translate3d(0px, 0px, 0px);
}

/* CSS WEIRD CLASS */
.css-zbbntt-Divider {
  position: absolute;
  width: 100%;
  height: 100%;
}

.css-zbbntt-Divider #contact-wave {
  fill: currentColor;
}

/* Color svg */

/*  */
/* Anim DVG part 1 top */

.highlights {
  position: absolute;
  background-size: auto;
  background-repeat: no-repeat;
  will-change: transform;
  width: 100%;
  height: 775px;
  transform: translate3d(0px, 0px, 0px);
}
