.cssCrossElement7SVG {
  position: absolute;
  stroke: none;
  fill: currentColor;
  display: none;
  color: var(--theme-ui-colors-icon_darkest, #718096);
  width: 2rem;
  left: 70%;
  top: 0%;
  @media screen and (min-width: 400px) {
    display: none;
  }
  @media screen and (min-width: 600px) {
    display: block;
  }
}
