.cssSquareElement8SVG {
  position: absolute;
  stroke: none;
  fill: currentColor;
  display: none;
  color: var(--theme-ui-colors-icon_blue, #3182ce);
  width: 1.5rem;
  left: 50%;
  top: 75%;
  @media screen and (min-width: 400px) {
    display: none;
  }
  @media screen and (min-width: 600px) {
    display: block;
  }
}
