.cssTriangleElement3SVG {
  position: absolute;
  stroke: currentColor;
  fill: none;
  display: block;
  color: var(--theme-ui-colors-icon_darkest, #2d3748);
  width: 4rem;
  left: 30%;
  top: 0%;
}
