// .cssTriangleElement3SVG {
//   position: absolute;
//   stroke: currentColor;
//   fill: none;
//   display: block;
//   color: var(--theme-ui-colors-icon_darkest, #718096);
//   width: 4rem;
//   left: 30%;
//   top: 65%;
// }

.cssTriangleElement3SVG {
  position: absolute;
  stroke: currentColor;
  fill: none;
  display: block;
  color: var(--theme-ui-colors-icon_darkest, #718096);
  width: 4rem;
  left: 26%;
  top: 65%;
}
